<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Html con express</title>
  </head>
  <body>
    <h1>Sitio html en un servidor con express</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
      reprehenderit corrupti impedit incidunt eius doloremque ab labore quod
      facere laudantium cupiditate libero. Veniam repellendus fugit voluptates
      optio rem. Necessitatibus, impedit!
    </p>

    <ul>
      <li><a href="www.facebook.com">Link a Facebook</a></li>
      <li><a href="www.twitter.com">link a Twitter</a></li>
      <li><a href="www.google.com">Link a Google+</a></li>
    </ul>

    <h3>Noticias</h3>
    <section>
      <article>
        <img src="https://via.placeholder.com/150" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam
          facere qui odit eaque esse officiis saepe harum id, ex natus
          perferendis possimus, atque, minus corrupti. Deserunt mollitia illo
          quod!
        </p>
      </article>
      <article>
        <img src="https://via.placeholder.com/150" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam
          facere qui odit eaque esse officiis saepe harum id, ex natus
          perferendis possimus, atque, minus corrupti. Deserunt mollitia illo
          quod!
        </p>
      </article>
    </section>
  </body>
</html>
